# Database Configuration
DATABASE_URL="postgresql://sabquick_admin:sabquick_local_dev@localhost:5432/sabquick_db?schema=public"

# Cache & Message Broker
REDIS_URL="redis://localhost:6379"

# Authentication
NEXTAUTH_SECRET="local_development_secret_32_chars_minimum"
NEXTAUTH_URL="http://localhost:3000"

# Hyper-Local Dark Store Geofence (Backend & Public Client)
STORE_LATITUDE="28.6139"
STORE_LONGITUDE="77.2090"
STORE_MAX_RADIUS_KM="2.5"
NEXT_PUBLIC_STORE_LAT="28.6139"
NEXT_PUBLIC_STORE_LNG="77.2090"
NEXT_PUBLIC_STORE_MAX_RADIUS_KM="2.5"
